<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <mat-card>
          <h3>Login</h3>
          <hr>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label id="username" for="email">Email</label>
              <input type="email" id="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && loginForm.get('email').errors }">
              <div *ngIf="submitted && loginForm.get('email').errors" class="invalid-feedback">
                <div *ngIf="loginForm.get('email').errors['required']">Email is required</div>
                <div *ngIf="loginForm.get('email').errors['email']">Email must be a valid email address</div>
              </div>
            </div>

            <div class="form-group">
              <label  for="password">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && loginForm.get('password').errors }">
              <div *ngIf="submitted && loginForm.get('password').errors" class="invalid-feedback">
                <div *ngIf="loginForm.get('password').errors['required']">Password is required</div>
                <div *ngIf="loginForm.get('password').errors['minlength']">Password must be at least 8 characters long
                </div>
                <div *ngIf="loginForm.get('password').errors['pattern']">Password must contain at least 1 lowercase, 1
                  uppercase letter
                  and 1 number</div>
              </div>
            </div>

            <div class="form-group">
              <a routerLink="/patient/register">Don't have an account? Register here.</a>
            </div>

            <button id="log" mat-raised-button color="primary" class="pull-right">Login</button>

          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>