<br>
<div class="container">
    <div class="card text-center w-60">
        <h4 class="card-header"> Examination type</h4>
        <div class="card-body">
            <div class="row">
                <div class="row filterButton">
                    <div class="col filter text-left">
                        <mat-form-field>
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="By label"
                                id="filterInput">
                            <button mat-button matPrefix mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>

                        </mat-form-field>
                    </div>
                    <!--END class="col filter-meals text-left"-->
                    <div class="col text-right">
                        <button type="button" mat-stroked-button (click)="openCreatingDialog()" class="btn">Create
                            an examination
                            type</button>
                    </div>
                    <!--END class="col text-right"-->
                </div>

            </div>

            <div class="row justify-content-center scrollit">
                <table mat-table [dataSource]="examinationTypesDataSource" class="mat-elevation-z8 table" matSort>

                    <ng-container matColumnDef="label">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Label </th>
                        <td mat-cell *matCellDef="let element" class="text-in-table"> {{element.label}}&nbsp;&nbsp;</td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                        <td mat-cell *matCellDef="let element" class="text-in-table"> {{element.price}} </td>
                    </ng-container>

                    <ng-container matColumnDef="update">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Update </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" mat-stroked-button class="btn" (click)="openEditingDialog()">Edit an
                                examination
                                type</button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Delete </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" mat-stroked-button class="btn" (click)="deleteType()">Delete an
                                examination
                                type</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <!--END class="row justify-content-center scrollit"-->

        </div>
        <!--class="card-body"-->
    </div>
    <!--END ngclass="card text-center w-60"-->
</div>
<!--END class="container"-->