.table {
    width: 75%;
  }
  
.filter {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.text-in-table{
    margin:5px;
    padding:5px;
}
::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
}
  
.mat-column-update{
    width: 33% !important;
    margin:5px;
}
.mat-column-delete{
    width: 33% !important;
    margin:5px;
}  
.filterButton{
    width: 83%;
    padding-left: 13%;
}
  
.scrollit {
    overflow-y:auto;
    height:500px;
}
  
#search:hover, #search:active {
    cursor: pointer;
}