<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list *ngIf="!isLoggedIn()">
            <a mat-list-item routerLink="/user/login">Login</a>
            <a mat-list-item routerLink="/patient/register">Register</a>
            <a mat-list-item routerLink="/user/change-password">Change password</a>
        </mat-nav-list>
        <mat-nav-list *ngIf="isClinicalCentreAdmin()">
            <a mat-list-item routerLink="/clinical-centre-admin/requests-to-register">Requests to register</a>
            <a mat-list-item routerLink="/clinical-centre-admin/clinics">Clinics</a>
            <a mat-list-item routerLink="/clinical-centre-admin/clinic-administrators">Clinic administrators</a>
            <a mat-list-item routerLink="/user/change-password">Change password</a>
            <a mat-list-item (click)="onLogout()">Log out</a>
        </mat-nav-list>
        <mat-nav-list *ngIf="isClinicAdmin()">
            <a mat-list-item routerLink="/clinic-admin/doctors">Doctors</a>
            <a mat-list-item routerLink="/clinic-admin/examination-types">Examination types</a>
            <a mat-list-item routerLink="/clinic-admin/rooms">Rooms</a>
            <a mat-list-item routerLink="/clinic-admin/nurses">Nurses</a>
            <a mat-list-item routerLink="/clinic-admin/examination/get-awaiting">Requests for examination</a>
            <a mat-list-item routerLink="/user/change-password">Change password</a>
            <a mat-list-item (click)="onLogout()">Log out</a>
        </mat-nav-list>

        <mat-nav-list *ngIf="isDoctor()">
            <a mat-list-item routerLink="/doctor/examinations">Scheduled examinations/operations</a>
            <a mat-list-item routerLink="/medicalStaff/patients">Patients</a>
            <a mat-list-item routerLink="/user/change-password">Change password</a>
            <a mat-list-item (click)="onLogout()">Log out</a>
        </mat-nav-list>

        <mat-nav-list *ngIf="isNurse()">
            <a mat-list-item routerLink="/medicalStaff/patients">Patients</a>
            <a mat-list-item routerLink="/user/change-password">Change password</a>
            <a mat-list-item (click)="onLogout()">Log out</a>
        </mat-nav-list>

        <mat-nav-list *ngIf="isPatient()">
            <a mat-list-item routerLink="/patient/clinic/1/details">Clinic Details</a>
            <a mat-list-item routerLink="/patient/clinics">Clinics</a>
            <a mat-list-item (click)="onLogout()">Log out</a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Clinical Centre System</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>