.prvi {
    display:flex;
    margin : 3em;
}

.drugi {
    margin : 3em;
}

.treci {
    margin : 3em;
    border : 1px solid #222266;
    box-shadow: 2px 2px 2px #222266;
}

.podaci {
    padding-top: 30px;
}