<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/patient/login">Login</a>
      <a mat-list-item routerLink="/patient/register">Register</a>
      <a mat-list-item routerLink="/clinicAdministrator/doctors">Doctors</a>
      <a mat-list-item routerLink="/clinicAdministrator/examinationTypes">Examination types</a>
      <a mat-list-item routerLink="/user/changePassword">Change password</a>
      <a mat-list-item routerLink="/clinical-centre-admin/requests-to-register">Requests to register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Clinical Centre System</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>