.dialog-class {
    width:500px;
    margin: 10px;
    padding: 5px;
}

.mat-form-field {
    display: block;
}

div_container{
    display: flex;
    flex-direction: row;
}

.block_container {
    display: flex;
}

.form {
    width: 75%;
}