<h1 class="primary">Add nurse</h1>
<mat-dialog-content class="dialog-class">
    <form [formGroup]="addNurseForm" class="form-full-width">
        <table class="form-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="form-full-width-td">
                        <input matInput placeholder="First name" formControlName="firstName">
                        <mat-error
                            *ngIf="addNurseForm.get('firstName').errors && addNurseForm.get('firstName').errors['required']">
                            Please enter nurse's first name.
                        </mat-error>
                        <mat-error
                            *ngIf="addNurseForm.get('firstName').errors && addNurseForm.get('firstName').errors['maxlength']">
                            Maximal number of characters for this field is 30.
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="form-full-width-td ml-2">
                        <input matInput placeholder="Last name" formControlName="lastName">
                        <mat-error
                            *ngIf="addNurseForm.get('lastName').errors && addNurseForm.get('lastName').errors['required']">
                            Please enter nurse's last name.
                        </mat-error>
                        <mat-error
                            *ngIf="addNurseForm.get('lastName').errors && addNurseForm.get('lastName').errors['maxlength']">
                            Maximal number of characters for this field is 30.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <h6 class="form-full-width mt-2">Work hours</h6>
        <table class="form-full-width mt-3" cellspacing="0">
            <tr>
                <td>From:</td>
                <td>
                    <div class="form-full-width-td">
                        <input matInput type="time" formControlName="workHoursFrom">
                    </div>
                </td>
                <td>To:</td>
                <td>
                    <div class="form-full-width-td ml-2">
                        <input matInput type="time" formControlName="workHoursTo">
                    </div>

                </td>
            </tr>
        </table>
        <mat-error class="work-hours" *ngIf="(addNurseForm.get('workHoursFrom').errors && addNurseForm.get('workHoursFrom').errors['required']) || 
            (addNurseForm.get('workHoursTo').errors && addNurseForm.get('workHoursTo').errors['required']) ">
            Work hours are required to fill in.
        </mat-error>
        <mat-error class="work-hours" *ngIf="addNurseForm.errors && addNurseForm.errors['timeError']">
            Starting work hours must be before ending work hours.
        </mat-error>
        <mat-form-field class="form-full-width mt-3">
            <input matInput placeholder="Phone number" formControlName="phoneNumber">
            <mat-error
                *ngIf="addNurseForm.get('phoneNumber').errors && addNurseForm.get('phoneNumber').errors['required']">
                Please enter nurse's phone number.
            </mat-error>
            <mat-error
                *ngIf="addNurseForm.get('phoneNumber').errors && addNurseForm.get('phoneNumber').errors['pattern']">
                Phone number must begin with 0 and can contain digits only.
            </mat-error>
            <mat-error
                *ngIf="addNurseForm.get('phoneNumber').errors && (addNurseForm.get('phoneNumber').errors['minlength'] 
                                    || addNurseForm.get('phoneNumber').errors && addNurseForm.get('phoneNumber').errors['maxlength'])">
                Phone number can contain between 9 and 10 digits.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-full-width mt-3">
            <input matInput placeholder="Email address" formControlName="email">
            <mat-error *ngIf="addNurseForm.get('email').errors && addNurseForm.get('email').errors['required']">
                Please enter nurse's email address.
            </mat-error>
            <mat-error *ngIf="addNurseForm.get('email').errors && addNurseForm.get('email').errors['email']">
                Please enter a valid email address.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="mt-2 mb-1">
    <button mat-raised-button color="primary" (click)="add()" [disabled]="!addNurseForm.valid">Add</button>
</mat-dialog-actions>