<br>
<div class="container">
    <div class="card text-center">
        <h4 class="card-header">Choose a clinic</h4>
        <div class="card-body">
					<div class="row justify-content-center scrollit">
						<div class="col-lg-4">
							<mat-form-field>
								<input matInput [matDatepicker]="pickerStart" placeholder="Choose a start date">
								<mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
								<mat-datepicker #pickerStart></mat-datepicker>
							</mat-form-field>
						</div>
						<div class="col-lg-4">
							<mat-form-field>
								<mat-label>Examination type</mat-label>
								<mat-select>
									<mat-option>
											Option 1
									</mat-option>
									<mat-option>
											Option 2
									</mat-option>
									<mat-option>
											Option 3
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-lg-4">
							<button mat-stroked-button>Search</button>
						</div>
					</div>
					<div class="row justify-content-center scrollit">
						<table mat-table [dataSource]="clinicsDataSource" class="mat-elevation-z8 table" matSort>
								<ng-container matColumnDef="name">
									<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
									<td mat-cell *matCellDef="let element" class="text-in-table">
										{{element.name}}
									</td>
								</ng-container>

								<ng-container matColumnDef="address">
										<th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
										<td mat-cell *matCellDef="let element" class="text-in-table"> {{element.address}} </td>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						</table>
					</div>
					<!--END class="row justify-content-center scrollit"-->
        </div>
        <!--class="card-body"-->
    </div>
    <!--END ngclass="card text-center w-60"-->
</div>
<!--END class="container"-->