<div *ngIf="success" class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <mat-card>
                    <h3>Account activated successfully!</h3>
                    <hr>
                    <p>Congratulations! Your account is now active.</p>
                    <p>You can log in to the Clinical Centre System by clicking on the <span><a
                                routerLink="/user/login">this link</a></span> to start using it.</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>