.table {
    width: 90%;
  }

.text-in-table{
    margin:5px;
    padding:5px;
}
::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
}
  
.scrollit {
    overflow-y:auto;
    height:500px;
}

.row-width {
    width: 90%;
}