<br>
<div class="container">
    <div class="card text-center w-60">
        <h1 mat-dialog-title class="dialog-class">Create a doctor</h1>
        <div class="card-body">
            <div class="row justify-content-center">
                <mat-dialog-content class="example-container dialog-class form">
                    <form [formGroup]="addDoctorForm">
                        <mat-form-field>
                            <input matInput placeholder="First name" formControlName="firstName">
                            <mat-error *ngIf="addDoctorForm.get('firstName').invalid">Please enter doctor's first name.
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <input matInput placeholder="Last name" formControlName="lastName">
                            <mat-error *ngIf="addDoctorForm.get('lastName').invalid">Please enter doctor's last name.
                            </mat-error>
                        </mat-form-field>
                        <br>

                        <mat-form-field>
                            <mat-label>Specialized for</mat-label>
                            <mat-select formControlName="specialized">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let specialization of specializations" [value]="specialization">
                                    {{specialization.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <div class="block_container">
                            <div>Work hours From &nbsp;</div>
                            <div>
                                <ngx-timepicker-field [controlOnly]="true" [format]="24"
                                    formControlName="workHoursFrom">
                                </ngx-timepicker-field>
                            </div>
                        </div>
                        <br>
                        <div class="block_container">
                            <div>Work hours To &nbsp;</div>
                            <div>
                                <ngx-timepicker-field [controlOnly]="true" [format]="24" formControlName="workHoursTo">
                                </ngx-timepicker-field>
                            </div>
                        </div>
                        <br>
                        <mat-form-field>
                            <input matInput placeholder="Phone number" formControlName="phoneNumber">
                            <mat-error *ngIf="addDoctorForm.get('phoneNumber').invalid">Please enter doctor's phone
                                number.
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <input matInput placeholder="Email address" formControlName="email">
                            <mat-error *ngIf="addDoctorForm.get('email').invalid">Please enter doctor's email address.
                            </mat-error>
                        </mat-form-field>

                    </form>
                </mat-dialog-content>
            </div>
            <div>
                <mat-dialog-actions align="end" style="margin-right: 45px;">
                    <button mat-stroked-button (click)="create()" [disabled]="!addDoctorForm.valid">Create</button>
                </mat-dialog-actions>
            </div>

        </div>
    </div>
</div>