<h1 mat-dialog-title>Add doctor</h1>
<mat-dialog-content class="dialog-class">
    <form [formGroup]="addDoctorForm" class="form-full-width">
        <table class="form-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="form-full-width-td">
                        <input matInput placeholder="First name" formControlName="firstName">
                        <mat-error
                            *ngIf="addDoctorForm.get('firstName').errors && addDoctorForm.get('firstName').errors['required']">
                            Please enter doctor's first name.
                        </mat-error>
                        <mat-error
                            *ngIf="addDoctorForm.get('firstName').errors && addDoctorForm.get('firstName').errors['maxlength']">
                            Maximal number of characters for this field is 30.
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="form-full-width-td ml-2">
                        <input matInput placeholder="Last name" formControlName="lastName">
                        <mat-error
                            *ngIf="addDoctorForm.get('lastName').errors && addDoctorForm.get('lastName').errors['required']">
                            Please enter doctor's last name.
                        </mat-error>
                        <mat-error
                            *ngIf="addDoctorForm.get('lastName').errors && addDoctorForm.get('lastName').errors['maxlength']">
                            Maximal number of characters for this field is 30.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <mat-form-field class="form-full-width mt-2">
            <mat-label>Specialized for</mat-label>
            <mat-select formControlName="specialized">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let specialization of specializations" [value]="specialization">
                    {{specialization.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <h6 class="form-full-width mt-2">Work hours</h6>
        <table class="form-full-width mt-3" cellspacing="0">
            <tr>
                <td>From:</td>
                <td>
                    <div class="form-full-width-td">
                        <input matInput type="time" formControlName="workHoursFrom">
                    </div>
                </td>
                <td>To:</td>
                <td>
                    <div class="form-full-width-td ml-2">
                        <input matInput type="time" formControlName="workHoursTo">
                    </div>
                </td>
            </tr>
        </table>
        <mat-error class="work-hours" *ngIf="(addDoctorForm.get('workHoursFrom').errors && addDoctorForm.get('workHoursFrom').errors['required']) || 
            (addDoctorForm.get('workHoursTo').errors && addDoctorForm.get('workHoursTo').errors['required']) ">
            Work hours are required to fill in.
        </mat-error>
        <mat-error class="work-hours" *ngIf="addDoctorForm.errors && addDoctorForm.errors['timeError']">
            Starting work hours must be before ending work hours.
        </mat-error>
        <mat-form-field class="form-full-width mt-3">
            <input matInput placeholder="Phone number" formControlName="phoneNumber">
            <mat-error
                *ngIf="addDoctorForm.get('phoneNumber').errors && addDoctorForm.get('phoneNumber').errors['required']">
                Please enter doctor's phone number.
            </mat-error>
            <mat-error
                *ngIf="addDoctorForm.get('phoneNumber').errors && addDoctorForm.get('phoneNumber').errors['pattern']">
                Phone number must begin with 0 and can contain digits only.
            </mat-error>
            <mat-error
                *ngIf="addDoctorForm.get('phoneNumber').errors && (addDoctorForm.get('phoneNumber').errors['minlength'] 
                                        || addDoctorForm.get('phoneNumber').errors && addDoctorForm.get('phoneNumber').errors['maxlength'])">
                Phone number can contain between 9 and 10 digits.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-full-width mt-3">
            <input matInput placeholder="Email address" formControlName="email">
            <mat-error *ngIf="addDoctorForm.get('email').errors && addDoctorForm.get('email').errors['required']">
                Please enter doctor's email address.
            </mat-error>
            <mat-error *ngIf="addDoctorForm.get('email').errors && addDoctorForm.get('email').errors['email']">
                Please enter a valid email address.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="mt-2 mb-1">
    <button mat-raised-button color="primary" (click)="create()" [disabled]="!addDoctorForm.valid">Add</button>
</mat-dialog-actions>