<ng-template #eventTemplate let-item="item">
    <div class="event-template">
        <b>{{ item.data.kind | titlecase}}</b>
        <span *ngIf="item.data.room">
            <br>
            <i>Room: </i>{{ item.data.room }}
        </span>
        <span *ngIf="item.data.patientFirstName && item.data.patientLastName">
            <br>
            <i>Patient: </i>{{ item.data.patientFirstName }} {{item.data.patientLastName}}
        </span>
        <span>
            <br>
            <i>Time: </i>{{ item.from | date:'HH:mm' }} - {{ item.to | date:'HH:mm' }}
        </span>
    </div>
</ng-template>
<ax-scheduler [axEventTemplate]="eventTemplate" [axSchedulerView]="'week'"
    [axViews]="axiomSchedulerParams.viewsToChoose" [axEventToolbar]="axiomSchedulerParams.enableToolbar"
    [axAnimation]="axiomSchedulerParams.animationType" [axTheme]="axiomSchedulerParams.theme" [axEvents]="events"
    [axShowLocale]="axiomSchedulerParams.enableLocaleChange">
</ax-scheduler>