<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
          <mat-card>
            <h3>Login Patient</h3>
            <hr>
            <form method="POST" action="/">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" required>
              </mat-form-field>
              <div class="example-button-row">
                <button mat-raised-button color="primary" class="pull-right">Login</button>
              </div>
            </form>
          </mat-card>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
    </div>
  </div>
  