<!-- page-header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">Change password</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->

<!-- page-content -->
<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                        <form [formGroup]="changePasswordForm" class="mat-elevation-z8 form">
                            <mat-form-field>
                                <input matInput type="email" placeholder="Email address" formControlName="userEmail">
                                <mat-error
                                    *ngIf="changePasswordForm.get('userEmail').errors && changePasswordForm.get('userEmail').invalid">
                                    Please enter valid email address.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="mt-2">
                                <input matInput type="password" placeholder="Old password"
                                    formControlName="userOldPassword">
                                <mat-error
                                    *ngIf="changePasswordForm.get('userOldPassword').errors && changePasswordForm.get('userOldPassword').errors['required']">
                                    Please enter your old password.
                                </mat-error>
                                <mat-error
                                    *ngIf="changePasswordForm.get('userOldPassword').errors &&  changePasswordForm.get('userOldPassword').errors['minlength']">
                                    Password must be at least 8 characters .
                                </mat-error>
                                <mat-error
                                    *ngIf="changePasswordForm.get('userOldPassword').errors &&  changePasswordForm.get('userOldPassword').errors['pattern']">
                                    Password must contain at least 1 lowercase, 1 uppercase letter and 1 number.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="mt-2">
                                <input matInput type="password" placeholder="New password"
                                    formControlName="newPassword">
                                <mat-error
                                    *ngIf="changePasswordForm.get('newPassword').errors &&  changePasswordForm.get('newPassword').errors['required']">
                                    Please enter new password.
                                </mat-error>
                                <mat-error
                                    *ngIf="changePasswordForm.get('newPassword').errors &&  changePasswordForm.get('newPassword').errors['minlength']">
                                    New password must be at least 8 characters .
                                </mat-error>
                                <mat-error
                                    *ngIf="changePasswordForm.get('newPassword').errors &&  changePasswordForm.get('newPassword').errors['pattern']">
                                    Password must contain at least 1 lowercase, 1 uppercase letter and 1 number.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="mt-2">
                                <input matInput type="password" placeholder="Repeated password"
                                    formControlName="repeatedPassword">
                                <mat-error
                                    *ngIf="changePasswordForm.get('repeatedPassword').errors &&  changePasswordForm.get('repeatedPassword').errors['required']">
                                    Please enter repeated password.
                                </mat-error>
                                <mat-error
                                    *ngIf="changePasswordForm.get('repeatedPassword').errors &&  changePasswordForm.get('repeatedPassword').errors['minlength']">
                                    Repeated password must b least 8 characters long.
                                </mat-error>
                                <mat-error
                                    *ngIf="changePasswordForm.get('repeatedPassword').errors &&  changePasswordForm.get('repeatedPassword').errors['pattern']">
                                    Password must contain at least 1 lowercase, 1 uppercase letter and 1 number.
                                </mat-error>
                                <mat-error
                                    *ngIf="changePasswordForm.get('repeatedPassword').errors && changePasswordForm.get('repeatedPassword').errors['mustMatch']">
                                    Passwords do not match.
                                </mat-error>
                            </mat-form-field>
                            <br>
                            <div align="end">
                                <button mat-raised-button color="primary" (click)="changePassword()"
                                    [disabled]="!changePasswordForm.valid">Save changes</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->