<br>
<div class="container">
    <div class="card text-center w-60">
        <h4 class="card-header"> Change password</h4>
        <div class="card-body">

            <div class="row justify-content-center scrollit">
                <form [formGroup]="changePasswordForm" class="mat-elevation-z8 form">
                    <mat-form-field>
                        <input matInput type="password" placeholder="Old password" formControlName="oldPassword">
                        <mat-error *ngIf="changePasswordForm.get('oldPassword').invalid">Please enter your old password.
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput type="password" placeholder="New password" formControlName="newPassword">
                        <mat-error *ngIf="changePasswordForm.get('newPassword').invalid">Please enter a new password.
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Repeated password"
                            formControlName="repeatedPassword">
                        <mat-error *ngIf="changePasswordForm.get('repeatedPassword').invalid">Please enter a repeated
                            password.
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <div align="end">
                        <button mat-stroked-button (click)="changePassword()"
                            [disabled]="!changePasswordForm.valid">Save
                            changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--END class="container"-->