<!-- page-header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">Patients in the clinic</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->

<!-- page-content -->
<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">

            <div class="row searchRow">
                <div class="col-3">
                    <mat-form-field class="full-width-field">
                        <mat-label>Search by first name</mat-label>
                        <input matInput [(ngModel)]="searchFirstName">
                        <button mat-button matPrefix mat-icon-button>
                            <mat-icon>search</mat-icon>
                        </button>

                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="full-width-field">
                        <mat-label>Search by last name</mat-label>
                        <input matInput [(ngModel)]="searchLastName">
                        <button mat-button matPrefix mat-icon-button>
                            <mat-icon>search</mat-icon>
                        </button>

                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="full-width-field">
                        <mat-label>Search by health insurance ID</mat-label>
                        <input matInput id="healthInsuranceID" [(ngModel)]="searchHealthInsuranceID" pattern="[0-9]+"
                            maxlength=13>
                        <button mat-button matPrefix mat-icon-button>
                            <mat-icon>search</mat-icon>
                        </button>

                    </mat-form-field>
                </div>
                <div class="col-2 btn-position">
                    <mat-dialog-actions>
                        <button mat-raised-button color="primary" (click)="searchPatients()">Search</button>
                    </mat-dialog-actions>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                        <table mat-table [dataSource]="patientsDataSource" class="mat-elevation-z8 table" matSort>

                            <ng-container matColumnDef="firstName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortEvent()">
                                    First name </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.firstName}}</td>
                            </ng-container>

                            <ng-container matColumnDef="lastName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortEvent()"> Last name
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                            </ng-container>


                            <ng-container matColumnDef="healthInsuranceId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortEvent()"> Health
                                    insurance ID </th>
                                <td mat-cell *matCellDef="let element"> {{element.healthInsuranceID}} </td>
                            </ng-container>

                            <ng-container matColumnDef="link">
                                <th mat-header-cell *matHeaderCellDef> Link to patient's prifile </th>
                                <td mat-cell *matCellDef="let element" class="view">
                                    <button mat-raised-button class="view-btn"
                                        (click)="viewPatientProfile(element)">View
                                        profile</button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator class=" table" [pageSize]=itemsPerPage [(length)]=numberOfItem
                            (click)="changePage()" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->