<br>
<div class="container">
    <div class="card text-center w-60">
        <h4 class="card-header"> Chose a room for examination which will be held {{searchDate | date:"dd.MM.yyyy"}}
            {{searchTimeStart}} -
            {{searchTimeEnd}}</h4>
        <div class="card-body">
            <div class="row filterButton">
                <div class="col-6 filter">
                    <mat-form-field>
                        <mat-label>Search by label</mat-label>
                        <input matInput [(ngModel)]="searchLabel">
                        <button mat-button matPrefix mat-icon-button>
                            <mat-icon>search</mat-icon>
                        </button>

                    </mat-form-field>
                </div>
                <div class="col-6 text-right">
                    <!-- <mat-label>Date and Time of examination {{searchDate}} {{searchTimeStart}} - {{searchTimeEnd}}
                    </mat-label>
                      <mat-form-field>
                       
                        <input matInput [matDatepicker]=" picker" placeholder="Search by date" [(ngModel)]="searchDate"
                            disabled [min]="minDate">
                       
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false"></mat-datepicker>

                    </mat-form-field>-->
                    <mat-dialog-actions>
                        <button mat-stroked-button (click)="searchRooms()">Search</button>
                    </mat-dialog-actions>
                </div>
            </div>
            <!--    <div class="row  filterForTime block_container">
                <div class="col-2 text-left">
                    Start time
                </div>
                <div class="col-3">
                     <ngx-timepicker-field [controlOnly]="true" [format]="24" [(ngModel)]="searchTimeStart">
                    </ngx-timepicker-field>
                </div>
                <div class="col-2 text-right">
                    End time
                </div>
                <div class="col-3">
                      <ngx-timepicker-field [controlOnly]="true" [format]="24" [(ngModel)]="searchTimeEnd">
                    </ngx-timepicker-field>
                </div>
                <div class="col-2 text-right">
                    <mat-dialog-actions>
                        <button mat-stroked-button (click)="seacrhRooms()">Search</button>
                    </mat-dialog-actions>
                </div>
            </div>-->

        </div>

        <div class="row justify-content-center scrollit">
            <table mat-table [dataSource]="roomsDataSource" class="mat-elevation-z8 table" matSort>

                <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Label</th>
                    <td mat-cell *matCellDef=" let element" class="text-in-table"> {{element.label}}&nbsp;&nbsp;
                    </td>
                </ng-container>

                <ng-container matColumnDef="available">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Available</th>
                    <td mat-cell *matCellDef=" let element" class="text-in-table">
                        {{element.available |  date:'dd.MM.yyyy HH:mm '}}&nbsp;&nbsp;
                    </td>
                </ng-container>

                <ng-container matColumnDef="assign">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Link to assign </th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" mat-stroked-button class="btn"
                            (click)="assignRoom(element)">Assign</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class=" table" [pageSize]="5" [(length)]=numberOfItem (click)="changePage()"
                showFirstLastButtons>
            </mat-paginator>
        </div>

    </div>
</div>