@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.page-header { 
    background: url(src\assets\background-images\room_background.jpg)no-repeat; 
    position: relative; 
    background-size: cover; 
}

.page-caption { 
    padding-top: 150px; 
    padding-bottom: 150px; 
}
.page-title { 
    font-size: 60px; 
    line-height: 1; 
    color: black; 
    text-align: center; 
    font-family: 'Ubuntu', cursive; 
    font-weight: 600; 
}

.card-section { 
    position: relative; 
    bottom: 60px; 
}

.card-block { 
    padding: 20px 40px 40px 40px;
}

.section-title { 
    margin-bottom: 60px; 
}

.mat-cell {
    vertical-align: middle;
}

.search-width {
    width: 200px;
  }

#search:hover, #search:active {
    cursor: pointer;
}

/*
.mat-column-update{
    width: 20% !important;
    margin:5px;
}
.mat-column-delete{
    width: 20% !important;
    margin:5px;
}
*/