<!-- page-header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">Clinic's details</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->

<!-- page-content -->
<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                        <table *ngIf="clinicExists" class="mat-elevation-z8 table">
                            <tr>
                              <th>Name</th>
                              <td class="text-in-table"> {{clinic.name}} </td>
                            </tr>
                            <tr>
                              <th>Description</th>
                              <td class="text-in-table"> {{clinic.description}} </td>
                            </tr>
                            <tr>
                              <th>Rating</th>
                              <td class="text-in-table"> 4.7 </td>
                            </tr>
                            <tr>
                              <th>Address</th>
                              <td class="text-in-table"> {{clinic.address}} </td>
                            </tr>
                        </table>
                        <div *ngIf="!clinicExists">
                          <h3>The clinic with the given ID does not exist.</h3>
                        </div>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->